.fable/
.fake/
.vs/
.vscode/
obj/
bin/
packages/
.paket/
paket-files/
node_modules/
src/Client/public/js/
release.cmd
release.sh
.idea/
*.orig
*.DotSettings.user
deploy
.ionide/
src/**/*.log
src/IdentityServer/identityserver4_log*.txt
src/IdentityServer/tempkey.rsa
src/IdentityServer/web.config
src/**/Settings.json
src/**/*.fsproj.user
src/**/launchSettings.json
src/**/*.csproj.user
*.DS_Store*
*.yaml
settings.test.json
src/AM.Operator.Client/public/Workers/*.js
src/AM.Operator.Client/public/Workers/*.js.map
src/**/*.fs.js
src/AM.Server/some/path
_deploy/